@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        @apply text-white max-w-7xl mx-auto text-lg underline-offset-[3px] bg-zinc-950;
        font-family: "DM Sans Variable";

        main {
            @apply pt-5 pb-[50vh] w-2/3 mx-auto space-y-5;
        }
    }

    h1 {
        @apply py-5 text-4xl font-semibold tracking-tight;
    }

    form {
        @apply flex flex-col gap-5;
    }

    hr {
        @apply border-zinc-800;
    }

    input,
    select,
    textarea,
    button {
        @apply card bg-zinc-900 placeholder:text-zinc-500 disabled:opacity-50 disabled:cursor-not-allowed;
    }
}

@layer components {
    .error {
        @apply bg-rose-500 px-6 py-3 rounded-xl;
    }

    .card {
        @apply px-6 py-3 rounded-xl bg-zinc-900;
    }

    .faded {
        @apply text-zinc-500;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.cds--cc--grid rect.chart-grid-backdrop {
    fill: transparent !important;
}
